# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
iGrantioSDK.podspec.json
iGrantioSDK-dummy.m
iGrantioSDK-Info.plist
iGrantioSDK-prefix.pch
iGrantioSDK-umbrella.h
iGrantioSDK.modulemap
iGrantioSDK.xcconfig
Pods-iGrantioSDK_Example-acknowledgements.markdown
Pods-iGrantioSDK_Example-acknowledgements.plist
Pods-iGrantioSDK_Example-dummy.m
Pods-iGrantioSDK_Example-frameworks.sh
Pods-iGrantioSDK_Example-Info.plist
Pods-iGrantioSDK_Example-umbrella.h
Pods-iGrantioSDK_Example.debug.xcconfig
Pods-iGrantioSDK_Example.modulemap
Pods-iGrantioSDK_Example.release.xcconfig
Pods-iGrantioSDK_Tests-acknowledgements.markdown
Pods-iGrantioSDK_Tests-acknowledgements.plist
Pods-iGrantioSDK_Tests-dummy.m
Pods-iGrantioSDK_Tests-Info.plist
Tests.swift
Info.plist
Pods-iGrantioSDK_Tests.release.xcconfig
Pods-iGrantioSDK_Tests.modulemap
Pods-iGrantioSDK_Tests.debug.xcconfig
Pods-iGrantioSDK_Tests-umbrella.h
Example/Pods/Alamofire/README.md
Example/Pods/Alamofire/Source/AFError.swift
Example/Pods/Alamofire/Source/Alamofire.swift
Example/Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Example/Pods/Alamofire/Source/MultipartFormData.swift
Example/Pods/Alamofire/Source/NetworkReachabilityManager.swift
Example/Pods/Alamofire/Source/Notifications.swift
Example/Pods/Alamofire/Source/ParameterEncoding.swift
Example/Pods/Alamofire/Source/Request.swift
Example/Pods/Alamofire/Source/Response.swift
Example/Pods/Alamofire/Source/ResponseSerialization.swift
Example/Pods/Alamofire/Source/Result.swift
Example/Pods/Alamofire/Source/ServerTrustPolicy.swift
Example/Pods/Alamofire/Source/SessionDelegate.swift
Example/Pods/Alamofire/Source/SessionManager.swift
Example/Pods/Alamofire/Source/TaskDelegate.swift
Example/Pods/Alamofire/Source/Timeline.swift
Example/Pods/Alamofire/Source/Validation.swift
Example/Pods/ExpandableLabel/README.md
Example/Pods/ExpandableLabel/Classes/ExpandableLabel.swift
Example/Pods/IQKeyboardManagerSwift/LICENSE.md
Example/Pods/IQKeyboardManagerSwift/README.md
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardReturnKeyHandler.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQNSArray+Sort.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUIScrollView+Additions.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUITextFieldView+Additions.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUIView+Hierarchy.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUIViewController+Additions.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Constants/IQKeyboardManagerConstants.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Constants/IQKeyboardManagerConstantsInternal.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQTextView/IQTextView.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQBarButtonItem.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQInvocation.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQPreviousNextView.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQTitleBarButtonItem.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQToolbar.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQUIView+IQKeyboardToolbar.swift
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowDown@2x.png
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowDown@3x.png
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowLeft@2x.png
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowLeft@3x.png
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowRight@2x.png
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowRight@3x.png
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowUp@2x.png
Example/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Resources/IQKeyboardManager.bundle/IQButtonBarArrowUp@3x.png
Example/Pods/MBProgressHUD/MBProgressHUD.h
Example/Pods/MBProgressHUD/MBProgressHUD.m
Example/Pods/MBProgressHUD/README.mdown
Example/Pods/Popover/README.md
Example/Pods/Popover/Classes/Popover.swift
Example/Pods/SkyFloatingLabelTextField/README.md
Example/Pods/SkyFloatingLabelTextField/Sources/SkyFloatingLabelTextField.swift
Example/Pods/SkyFloatingLabelTextField/Sources/SkyFloatingLabelTextFieldWithIcon.swift
Example/Pods/SkyFloatingLabelTextField/Sources/UITextField+fixCaretPosition.swift
Example/Pods/SwiftyJSON/README.md
Example/Pods/SwiftyJSON/Source/SwiftyJSON.swift
Example/Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Example/Pods/Target Support Files/Alamofire/Alamofire-Info.plist
Example/Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Example/Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Example/Pods/Target Support Files/Alamofire/Alamofire.modulemap
Example/Pods/Target Support Files/Alamofire/Alamofire.xcconfig
Example/Pods/Target Support Files/ExpandableLabel/ExpandableLabel-dummy.m
Example/Pods/Target Support Files/ExpandableLabel/ExpandableLabel-Info.plist
Example/Pods/Target Support Files/ExpandableLabel/ExpandableLabel-prefix.pch
Example/Pods/Target Support Files/ExpandableLabel/ExpandableLabel-umbrella.h
Example/Pods/Target Support Files/ExpandableLabel/ExpandableLabel.modulemap
Example/Pods/Target Support Files/ExpandableLabel/ExpandableLabel.xcconfig
Example/Pods/Target Support Files/iGrantioSDK/ResourceBundle-iGrant-iGrantioSDK-Info.plist
Example/Pods/Target Support Files/iGrantioSDK/ResourceBundle-PopView-iGrantioSDK-Info.plist
Example/Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-dummy.m
Example/Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-Info.plist
Example/Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-prefix.pch
Example/Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-umbrella.h
Example/Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift.modulemap
Example/Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift.xcconfig
Example/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-dummy.m
Example/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-Info.plist
Example/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-prefix.pch
Example/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-umbrella.h
Example/Pods/Target Support Files/MBProgressHUD/MBProgressHUD.modulemap
Example/Pods/Target Support Files/MBProgressHUD/MBProgressHUD.xcconfig
Example/Pods/Target Support Files/Popover/Popover-dummy.m
Example/Pods/Target Support Files/Popover/Popover-Info.plist
Example/Pods/Target Support Files/Popover/Popover-prefix.pch
Example/Pods/Target Support Files/Popover/Popover-umbrella.h
Example/Pods/Target Support Files/Popover/Popover.modulemap
Example/Pods/Target Support Files/Popover/Popover.xcconfig
Example/Pods/Target Support Files/SkyFloatingLabelTextField/SkyFloatingLabelTextField-dummy.m
Example/Pods/Target Support Files/SkyFloatingLabelTextField/SkyFloatingLabelTextField-Info.plist
Example/Pods/Target Support Files/SkyFloatingLabelTextField/SkyFloatingLabelTextField-prefix.pch
Example/Pods/Target Support Files/SkyFloatingLabelTextField/SkyFloatingLabelTextField-umbrella.h
Example/Pods/Target Support Files/SkyFloatingLabelTextField/SkyFloatingLabelTextField.modulemap
Example/Pods/Target Support Files/SkyFloatingLabelTextField/SkyFloatingLabelTextField.xcconfig
Example/Pods/Target Support Files/SwiftyJSON/SwiftyJSON-dummy.m
Example/Pods/Target Support Files/SwiftyJSON/SwiftyJSON-Info.plist
Example/Pods/Target Support Files/SwiftyJSON/SwiftyJSON-prefix.pch
Example/Pods/Target Support Files/SwiftyJSON/SwiftyJSON-umbrella.h
Example/Pods/Target Support Files/SwiftyJSON/SwiftyJSON.modulemap
Example/Pods/Target Support Files/SwiftyJSON/SwiftyJSON.xcconfig
Example/Pods/Target Support Files/Toast-Swift/Toast-Swift-dummy.m
Example/Pods/Target Support Files/Toast-Swift/Toast-Swift-Info.plist
Example/Pods/Target Support Files/Toast-Swift/Toast-Swift-prefix.pch
Example/Pods/Target Support Files/Toast-Swift/Toast-Swift-umbrella.h
Example/Pods/Target Support Files/Toast-Swift/Toast-Swift.modulemap
Example/Pods/Target Support Files/Toast-Swift/Toast-Swift.xcconfig
Example/Pods/Toast-Swift/README.md
Example/Pods/Toast-Swift/Toast/Toast.swift
